body {
    background: lightblue;
}

.lists-container {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.list-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.single-todo-container {
    padding: 10px;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
}

.hold {
    border: solid 5px #ccc;
}

.invisible {
    display: none;
}

.lists-wrapper {
    display: flex;
    flex-direction: column;
    border: dashed 1px white;
    padding: 5px;
    
}

.list-title {
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
}

.add-task-button {
    margin: 10px;
    background: green;
    width: 50%;
    position: relative;
    left: 25%;
    padding: 10px;
}

.disabled {
    pointer-events: none;
    background: grey;
}

.todo-ip-container {
    text-align: center;
    padding: 5px;
}