@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin-bottom:5%;
    font-family: lato;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: aliceblue;
    margin:0;
}

.container {
    width:50%;
}
.both_cost_container {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    background-color: white; 
    border-radius: 5%;   
}

.both_cost_container .cost_container {
    display:flex;
    flex-direction: column;
    padding: 5% 10%;
    margin-bottom:0%;
}

.both_cost_container .cost_container:nth-of-type(1){
    border-right: 1px solid grey;
    padding-left: 15%;
}

.both_cost_container .cost_container .green {
    color: green;
}

.both_cost_container .cost_container .red {
    color:red;
}

.section_title {
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
}

.add_transaction_form {
    display: flex;
    flex-direction: column;
}

.submit_buton {
    padding: 5%;
    width: 100%;
    font-size:20px;
    background-color: darkseagreen;
    border:none;
    cursor: pointer;
    border-radius: 5px;
}